<html>
  <head>
   <title><%= title %></title>
   <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
            <ul>
                <li><%= messages[i].text %></li>
                <li><%= messages[i].username %></li>
                <li><%= messages[i].added %></li>
                <li><%= messages[i].id %></li>
                <a href="/message/<%= messages[i].id %>">
                  <span>Open</span>
                </a>
            </ul>
        <% } %>
    </ul>
    <a href="/new">New Form</a>
  </body>
</html>
